<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Babydog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.alert %><strong><%= flash.alert %></strong><% end %>
    <header>
      <h1>Babydog</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/rolls">Rolls</a></li>
          <% if logged_in? %>
            <li>
              Logged in as <strong><%= current_membership.username %></strong>
              <a href="/logout/">Logout</a>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
